{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Quiz System</title>
    <link rel="stylesheet" href="{% static 'quizSystem/css/style.css' %}">
</head>

<body>

    <nav>
        <h1><a href="{% url 'quizSystem_index' %}">QuizMaster</a></h1>

        <ul>

            {% if user.is_authenticated %}

            <li>Welcome {{ user.first_name }}</li>

            <li>
                <a href="{% url 'dashboard' %}">
                    Dashboard
                </a>
            </li>

            <li>
                <a href="{% url 'logout_user' %}">
                    Logout
                </a>
            </li>

            {% else %}

            <li><a href="{% url 'user_login' %}">Log In</a></li>
            <li><a href="{% url 'user_signup' %}" class="signup-btn">Sign Up</a></li>

            {% endif %}

        </ul>
    </nav>

    <section class="hero">
        <h2>Welcome to Online Quiz System</h2>

        <p>
            Test your knowledge, challenge yourself with exciting quizzes,
            and track your performance in real time.
        </p>

        <a href="{% url 'tests' %}" class="btn">Start Quiz</a>
    </section>

    <footer>
        <p>&copy; 2026 Online Quiz System | All Rights Reserved</p>
    </footer>

</body>

</html>