* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
}

nav {
    background: #2563eb;
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li{
    display:flex;
    align-items:center;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    background: rgba(255,255,255,0.15);
    transition: 0.3s;
}

nav ul li a:hover{
    background: rgba(255,255,255,0.30);
}

.signup-btn{
    background:white;
    color:#2563eb !important;
    font-weight:bold;
    border-radius:6px;
    padding:10px 20px;
}

.signup-btn:hover{
    background:#e5e7eb;
}

.profile-btn{
    width:42px;
    height:42px;
    background:white;
    color:#2563eb;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    user-select:none;
}

.profile-btn:hover{
    background:#e5e7eb;
    transform:scale(1.05);
}

.profile-menu{
    position:relative;
}

.dropdown{
    position:absolute;
    top:55px;
    right:0;
    width:220px;
    background:white;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    overflow:hidden;

    opacity:0;
    visibility:hidden;
    transform:translateY(10px);

    transition:.3s;
}

.dropdown.show{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

.user-name{
    padding:15px;
    font-weight:bold;
    color:#2563eb;
    border-bottom:1px solid #eee;
}

.dropdown a{
    display:block;
    padding:14px 18px;
    text-decoration:none;
    color:#333;
    background:white;
    transition:.3s;
}

.dropdown a:hover{
    background:#f4f6f9;
    color:#2563eb;
}

.hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 50px;
    color: #1f2937;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #6b7280;
    max-width: 700px;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 35px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    background: #1d4ed8;
}

footer {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}